header h1 {
  float: none;
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  padding: 0;
}

header .left {
  float: none;
  padding: 49px 0 0 38px;
}

header .all {
  display: block;
  position: relative;
  width: 32px;
  height: 14px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  color: transparent;
}
header .all:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #fff;
  margin-top: -1px;
}

header .left > div {
  float: none;
  display: none;
}

header > ul {
  padding: 40px 40px 0 0;
}

header > ul li a {
  width: 70px;
}
